/* ======================= [ HEADER SECTION ] ============================================= */

#headerNavBar .form-control,#headerNavBar .btn{
    border: 1px solid black  !important;
    border-radius: 0px !important;
    color: black;
}

#headerNavBar .btn{
    background-color: black;
    color: white;
    transition: 300ms;
}

#headerNavBar .btn:hover{
    background-color: rgb(255, 255, 255) !important;
    color: black;
    transition: 300ms;

}

.form-control:focus {
    border-color: #28a745 !important;
    box-shadow: 0 0 0 0.2rem rgba(63, 103, 72, 0.25) !important;
} 


#headerNavBar .nav-item:hover{
    background-color: rgb(230, 213, 213);
}
#productsPageBody #headerContainer{
    box-shadow: 0px 0px 1px black;
}

#loggedImage{
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: rgb(235, 221, 221);
}


/* ====================================================================================== */

/* ======================= [ Exit Mark ] ============================================== */
#exitMark{
    text-decoration: none;
    color: white;
    width: 4rem;
    text-align: center;
    padding: 0px;
    background-color: black;
    border-radius: 0.2rem;
    transition: 300ms;
}

#exitMark:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(236, 0, 0);
    transition: 300ms;
}

/* ================================================================================================================================= */




#clearCartButton{
    border-radius: 0px !important;
}

#clearCartButton:hover{

    background-color: white !important;
    color: rgb(151, 0, 0) !important;
    border: 1px solid rgb(94, 94, 94) !important;
    border-radius: 0px !important;
    transition: 300ms;

}

/* ========================================================================================== */

#cartProductsContainer img{
    max-height: 10rem;
}


/* Total Price Section */
#totalPriceSection{
    min-height: 5rem;
    background-color: rgb(228, 214, 214);
}

/* ========================================================================================== */


#checkOutButton{
    border-radius: 0px !important;
}

#cartXMark{
    cursor: pointer;
    transition: 300ms;

}
#cartXMark:hover{
    text-decoration: underline;
    color: red;
    transition: 300ms;
}